.container {
  background-image: url("./images/—Pngtree—poster\ background\ promotional\ background\ pseudo_946888.jpg");
  padding: 2rem;
  margin: 0;
  background-size: cover;
  border-radius: 9px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 25%;
}

.navbar {
  text-align: center;
}


.progresContainer{
  opacity: 1!important;
  background-color: rgba(255,255,255, 0.4);
  padding: 0.5rem 1rem;
  margin: 2rem;
  border-radius: 10px;
}

button {
  height: 3rem;
  position: relative;
  top: 2.4rem;
}
